*{
    margin: 0px;
    font-family: "Nanum Myeongjo", serif;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
/* 스크롤바 지우기 */
header{
    position: absolute;
    left: 0;
    top : 0;
    z-index: 120;
    /* z값 올려서 헤더 올림 */
    width: 100%;
    height: 100px;
    background: #00000096;
    color: #B6B89D;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}
body{
    position:absolute;
    background-color: #303930;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.nomal1{
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    background-color: #00000046;
    top:100px;
    margin-left: 20px;
    width: 730px;
    height: 500px;
}
.nomal2{
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    background-color: #00000046;
    top:100px;
    margin-left: 780px;
    width: 730px;
    height: 500px;
}
.nomal3{
    border-radius: 10px;
    margin-top: 680px;
    position: absolute;
    background-color: #00000046;
    margin-left: 20px;
    width: 1490px;
    height: 750px;
    margin-bottom: 400px;
}
.ex1{
    position: absolute;
    top: 5px;
    left: 270px;
    line-height: 2;
    color: #B6B89D;
}
.ex2{
    position: absolute;
    top: 5px;
    left: 280px;
    line-height: 2;
    color: #B6B89D;
}
.ex3{
    position: absolute;
    top: 10px;
    left: 620px;
    line-height: 2;
    color: #B6B89D;
}
#book{
    position: absolute;
    top: 100px;
    left: 100px;
    border: #000000 solid 2px;
}
